{% extends 'base.html' %}
<!-- extends必须是模板的第一个标签 -->
{% comment %}
<!-- ！加tab自動寫出一個HTML代碼的架構 -->
{# 没有使用模板嵌套的代码#}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>{{ blog.title }}</title>
</head>
<body>
    <div>
        <a href="{% url 'home' %}"><!-- 这个标签要注意用空格分开
         <h3>个人博客网站</h3> -->
         <h3>个人博客网站</h3>
        </a>
    </div>
    <h3>{{ blog.title }}</h3>
    <p>作者:{{ blog.author }}</p>
    <p>发表日期:{{ blog.created_time }}</p>
    <p>发表日期:{{ blog.created_time|date:"Y-m-d h:n:s" }}</p>
    <p>最后确认日期:{{ blog.last_updataed_time|date:"Y-m-d h:n:s" }}</p>
    <p>分类:<a href="{% url 'blogs_with_type' blog.blog_type.pk%}">{{blog.blog_type}}</a></p><!-- 类实例对象输出的时候默认还是调用__str__函数 -->
    <p>{{ blog.content }}</p>
</body>
</html>
{% endcomment %}

{% load staticfiles%}
{% load comment_tags %}
{% load likes_tags %}

{% block header_extends %}
 <link rel="stylesheet" type="text/css" href="{% static 'blog/blog.css'%}">
 <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<!--  因为又这个模板库，所以可以访问到app中的static下的静态文件 -->
<!-- 否则则需要添加路径来访问在setting文件中 -->
{% endblock %}

{% block title %}
{{ blog.title }}
{% endblock %}

{% block nav_blog_active %}
active
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <h3>{{ blog.title }}</h3>
            <ul class="blog-info-description">
                <li>作者:{{ blog.author }}</li>
                <li>阅读({{ blog.get_read_num}})</li>
                <li>評論({% get_comment_count blog %})</li>
                <li>分类:<a href="{% url 'blogs_with_type' blog.blog_type.pk%}">{{blog.blog_type}}</a></li>
                <!-- 类实例对象输出的时候默认还是调用__str__函数 -->
            </ul>
            <ul class="blog-info-description">
                <li>发表日期:{{ blog.created_time }}</li>
                <li>最后确认日期:{{ blog.last_updataed_time|date:"Y-m-d h:i:s" }}</li>
            </ul>
            <!-- <p>发表日期:{{ blog.created_time|date:"Y-m-d h:n:s" }}</p> -->
            <div class="blog-content">{{ blog.content|safe }}</div><!-- safe过滤器之后，其文本的中写的html代码就可以表达 -->
            <div class="like" onclick="likeChange(this,'blog',{{ blog.pk }})">
                <!-- ##this表示当前标签 -->
                <span class="glyphicon glyphicon-thumbs-up {% get_like_status blog %}">
                <!-- class的内容中用空格空开，其实相当于同时多个类 -->
                </span>  
                <span class="liked-num">{% get_like_count blog %}</span>
                <span>喜欢</span>

            </div>
            <div class="blog-more">
                {% if previous_blog%}
                <p><a href="{% url 'blog_detail' previous_blog.pk %}">上一篇{{previous_blog.title}}</a></p>
                {% else %}
                <p>没有了</p>
                {% endif %}
                {% if next_blog %}
                <p><a href="{% url 'blog_detail' next_blog.pk %}">下一篇{{next_blog.title}}</a>
                {% else %}</p>
                <p>没有了</p>
                {% endif %}
                <p></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="comment-area" ><h3 class="comment-area-title">提交评论区</h3>
            {% if user.is_authenticated %}
                <form id="comment_form" action="{% url 'update_comment' %}" method="POST" style="overflow:hidden">
                    
                    <label for="comment_text"> {{user.username}},欢迎评论~</label>
                    <div id='reply_content_container' style="display:none">
                        <p id="reply_title">回复</p>
                        <div id="reply_content">
                        </div>
                    </div>
                    {% csrf_token %}<!-- 注意使用表单的时候设置csrf_token令牌 -->
                    {% get_comment_form blog as comment_form %}
                    {% for  field in comment_form  %}
                        {{ field }}
                    {% endfor %}

<!--                 <div class="form-group">
    <textarea id="comment_text" class="form-control" name="text" rows="4"></textarea>多行输入
</div> -->
<!--                     <input type="hidden" name="object_id" value="{{blog.pk}}">
                    <input type="hidden" name="content_type" value="blog"> -->
                    <span id="comment_error" class="text-danger pull-left"></span>
                    <input type="submit" name="评论" class="btn btn-primary pull-right" ><!-- style="float:right"> -->
                </form>
            {% else %}
                您未登陸，登陆之后方可评论
                <a class="btn btn-primary" href="{% url 'login' %}?form={{request.get_full_path}}">
                <!-- 使用get方式传入当前的路径 -->登陆</a>
                <span>or</span>
                <!-- danger表示红色，primary表示蓝色 -->
                <a class="btn btn-danger" href="{%url 'register'%}?form={{request.get_full_path}}">注册</a>

            {% endif %}
        </div>
            <div class="comment-area" ><h3 class="comment-area-title">评论列表区域</h3>
            <div id="comment_list">
                {% get_comment_list blog as comments %}
                {% for comment in comments %}
                <div id="root_{{comment.pk}}" class="comment">
                    <span>{{ comment.user.username }}</span>
                   <span>({{ comment.comment_time|date:"Y-m-d H:i:s"}})</span>
                    <div id="comment_{{comment.pk}}">
                        {{ comment.text|safe}}
                    </div>
                    <div class="like" onclick="likeChange(this,'{% get_content_type comment %}',{{ comment.pk }})">
                            <!-- ##this表示当前标签 -->
                                <span class="glyphicon glyphicon-thumbs-up {% get_like_status comment %}">
                                 <!-- class的内容中用空格空开，其实相当于同时多个类 -->
                                 </span>  
                                 <span class="liked-num">{% get_like_count comment %}</span>

                </div>
                    <!-- 调用js函数 ,先定义了然后调用-->
                   <a href="javascript:reply({{ comment.pk }})">回复</a>
                    {% for reply in comment.root_comment.all %}
                     <div class="reply">
                        <span>{{reply.user.username}}</span>
                       <span>({{reply.comment_time|date:"Y-m-d H:i:s"}}):</span> 
                        <span>回复</span>
                        <span>{{reply.reply_to.username}}</span>
                        <div id="comment_{{reply.pk}}">
                        {{ reply.text|safe}}
                        </div>
                         <div class="like" onclick="likeChange(this,'{% get_content_type reply %}',{{ reply.pk}})">
                            <!-- ##this表示当前标签 -->
                                <span class="glyphicon glyphicon-thumbs-up {% get_like_status reply %}">
                                 <!-- class的内容中用空格空开，其实相当于同时多个类 -->
                                 </span>  
                                 <span class="liked-num">{% get_like_count reply %}</span>

                         </div>
                        <a href="javascript:reply({{ reply.pk }})">回复</a>
                       </div>
                    {% endfor %}
                </div>
                {% empty %}
                <span id="no_comment">暫無評論</span>
                {% endfor %} 
            </div>
            </div>
        </div> 
    </div>

                <!-- Modal -->
            <div class="modal fade" id="login_modal" tabindex="-1" role="dialog" >
              <div class="modal-dialog modal-sm" role="document">
                <form id="login_medal_form" action="" method="POST">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">登陆</h4>
                  </div>
                  <div class="modal-body">
                    <!-- 当连接指向自己的话，也可以使用# --><!-- 只不过这个#可以保留当前的get进来的参数，而使用路径的话这个get参数不会保留 -->
            <!-- 所以不使用{% url  'login' %} -->
                    {% csrf_token %}
                    {% for field in login_form %}<!-- ##把冒号的给去掉,自定义显示form-->
                        <label for="{{field.id_for_label}}">{{field.label}}</label>
                        {{field}}
                    {% endfor %}
                    <span id="login_medal_tip" class="pull-left text-danger">
                    </span>
                  
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">登陆</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                  </div>
                </form>
                </div>
              </div>
            </div>

</div>

{% endblock %}

{% block script_extends %}
<script type="text/javascript">
//定义字符串连接函数
String.prototype.format=function(){
    var str=this;
    for (var i = 0;i<arguments.length; i++){
        var str=str.replace(new RegExp('\\{'+i+'\\}','g'),arguments[i]);
    }
    return str;
}

// 通过事件进行异步提交处理
function likeChange(obj,content_type,object_id){
    // ##看看是否有activate
    var is_like=(obj.getElementsByClassName('active').length==0);
    $.ajax({
        url: "{% url 'like_change' %}",
        // 如果用POST请求，但是就要使用csrf_token
        type: 'GET',
        data: {
            content_type: content_type,
            object_id: object_id,
            is_like: is_like,
        },
        cache:false,
        success:function(data){
            console.log(data)
            if(data['status']==('SUCCESS')){
                //更新点赞状态
                var element=$(obj.getElementsByClassName('glyphicon'))
                if(is_like){
                    element.addClass('active');
                }
                else{
                    element.removeClass('active');
                }
                //更新点赞数量
                var element=$(obj.getElementsByClassName('liked-num'));
                element.text(data['liked_num'])

            }
            else{
                if(data['code']==400){
                $('#login_modal').modal('show');
                }
                else{
                    alter(data['message']);
                }

            }
        },
        error:function(xhr){
            console.log(xhr)
        } 
    });
}


//submit為提交的方法，也是事件，function是一個回調函數

 function reply(reply_comment_id){

    //
    $('#reply_comment_id').val(reply_comment_id);
    var html=$("#comment_"+reply_comment_id).html();
    $('#reply_content').html(html);
    $('#reply_content_container').show();
    $('html').animate({scrollTop:$('#comment_form').offset().top-60},300,function(){
        CKEDITOR.instances['id_text'].focus();
    });
 }
 function numFormat(num){
    //向後截取兩位數字
    return('00'+num).substr(-2);
 }
 function timeFormat(timestamp){
    var datetime=new Date(timestamp*1000);//python傳過來是秒，而JS為毫秒。
    var year=numFormat(datetime.getFullYear());
    var month=numFormat(datetime.getMonth()+1);
    var day=numFormat(datetime.getDate());
    var hour=numFormat(datetime.getHours());
    var minute=numFormat(datetime.getMinutes());
    var second=numFormat(datetime.getSeconds());
    return year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;
 }
 
$("#comment_form").submit(function(){

    //判斷是否爲空
    $("#comment_error").text('');
    if (CKEDITOR.instances['id_text'].document.getBody().getText().trim()==''){
         $("#comment_error").text('評論内容不能為空');
         return false;
    }
    //更新數據到textarea中,CKEDTOR是JS的庫中的類
    CKEDITOR.instances['id_text'].updateElement();
    //異步提交
    $.ajax({
        url: "{% url 'update_comment' %}",
        type: 'POST',
        //##$(this當前方法中的對象)serialize將表單的輸入參數變成URL字符串,这个data代表的是输入数据
        data:  $(this).serialize(),
        cache: false,
        //这个data代表的是后端返回的数据
        success: function(data){
            console.log(data);//控制台输出内容
            if(data['status']=='SUCCESS'){
                            //插入數據.
                if($('#reply_comment_id').val()==0){
                    //插入评论

                var comment_html='<div id="root_{0}" class="comment"><span>{1}</span><span>({2})</span>'+'<div id="comment_{0}">{3}</div>'+'<div class="like" onclick="likeChange(this,\'{4}\',{0})">'+'<span class="glyphicon glyphicon-thumbs-up"></span>'+'<span class="liked-num">0</span>'+'</div><a href="javascript:reply({0})">'+'回复</a></div>';

                comment_html=comment_html.format(data['pk'],data['username'],timeFormat(data['comment_time']),data['text'],data['content_type']);
    
                $("#comment_list").prepend(comment_html);//##在前變拆
                }
                else
                {
                    //插入回复

                var reply_html='<div class="reply">'+
                        '<span>{1}</span>'
                       +'<span>({2}):</span>' 
                        +'<span>回复</span>'
                        +'<span>{3}</span>'
                       +'<div id="comment_{0}">{4}</div>'
                         +'<div class="like" onclick="likeChange(this,\'{5}\',{0})">'
                                +'<span class="glyphicon glyphicon-thumbs-up">'
                                 +'</span><span class="liked-num">0</span></div>'
                        +'<a href="javascript:reply({0})">回复</a></div>';
                reply_html=reply_html.format(data['pk'],data['username'],timeFormat(data['comment_time']),data['reply_to'],data['text'],data['content_type']);
                 $('#root_'+data['root_pk']).append(reply_html);//##在前變拆

                }
                



                //清空編輯框的内容
                CKEDITOR.instances['id_text'].setData('');
                $('#reply_content_container').hide();
                $("#comment_error").text('评论成功');
                $('#reply_comment_id').val('0');
                $('#no_comment').remove();
            }else{
                    //顯示錯誤信息，寫錯誤信息
                    $("#comment_error").text(data['message']);
            }
        },
        error: function(xhr){
            console.log(xhr);
        }
        });
    return false;//返回false防止刷新頁面
    });

$("#login_medal_form").submit(function(event){
    // 阻值原本的代码提交
    event.preventDefault();
    $("#login_medal_tip").text('');
    $.ajax({
        url: '{% url "login_for_medal" %}',
        type: 'POST',
        data: $(this).serialize(),
        cache: false,
        success: function(data){
            console.log(data);
            if(data['status']=='SUCCESS'){
                // 窗口重新加载
                window.location.reload();
            }
            else{
                $("#login_medal_tip").text('用户名或者密码不正确');
            }
        },
        error: function(xhr){
            console.log(xhr);
        }
    });
});
</script>

{% endblock %}